<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @contest.title %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @contest.uid %>
</p>

<p>
  <strong>Teaser:</strong>
  <%= @contest.teaser %>
</p>

<p>
  <strong>Image:</strong>
  <%= @contest.image %>
</p>

<p>
  <strong>Content:</strong>
  <%= @contest.content %>
</p>

<p>
  <strong>Apply start:</strong>
  <%= @contest.apply_start %>
</p>

<p>
  <strong>Apply end:</strong>
  <%= @contest.apply_end %>
</p>

<p>
  <strong>Vote begin:</strong>
  <%= @contest.vote_begin %>
</p>

<p>
  <strong>Vote begin display:</strong>
  <%= @contest.vote_begin_display %>
</p>

<p>
  <strong>Vote end:</strong>
  <%= @contest.vote_end %>
</p>

<p>
  <strong>Vote end display:</strong>
  <%= @contest.vote_end_display %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @contest.theme %>
</p>

<p>
  <strong>Mall ids:</strong>
  <%= @contest.mall_ids %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @contest.permission %>
</p>

<p>
  <strong>Entry method:</strong>
  <%= @contest.entry_method %>
</p>

<p>
  <strong>Entry frequency:</strong>
  <%= @contest.entry_frequency %>
</p>

<p>
  <strong>Winner qualification:</strong>
  <%= @contest.winner_qualification %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @contest.prize %>
</p>

<p>
  <strong>Winner notification:</strong>
  <%= @contest.winner_notification %>
</p>

<p>
  <strong>Redemption method:</strong>
  <%= @contest.redemption_method %>
</p>

<p>
  <strong>Announcement date:</strong>
  <%= @contest.announcement_date %>
</p>

<p>
  <strong>Confirmation email subject:</strong>
  <%= @contest.confirmation_email_subject %>
</p>

<p>
  <strong>Alert email subject:</strong>
  <%= @contest.alert_email_subject %>
</p>

<p>
  <strong>Alert email address:</strong>
  <%= @contest.alert_email_address %>
</p>

<p>
  <strong>Confirmation email body:</strong>
  <%= @contest.confirmation_email_body %>
</p>

<p>
  <strong>Alert email body:</strong>
  <%= @contest.alert_email_body %>
</p>

<p>
  <strong>Url:</strong>
  <%= @contest.url %>
</p>

<p>
  <strong>Already entered text:</strong>
  <%= @contest.already_entered_text %>
</p>

<p>
  <strong>Not begun text:</strong>
  <%= @contest.not_begun_text %>
</p>

<p>
  <strong>Over text:</strong>
  <%= @contest.over_text %>
</p>

<p>
  <strong>Additional information:</strong>
  <%= @contest.additional_information %>
</p>

<p>
  <strong>Design and copy:</strong>
  <%= @contest.design_and_copy %>
</p>

<p>
  <strong>Success text:</strong>
  <%= @contest.success_text %>
</p>

<p>
  <strong>Rules url:</strong>
  <%= @contest.rules_url %>
</p>

<p>
  <strong>Report type:</strong>
  <%= @contest.report_type %>
</p>

<p>
  <strong>Report params:</strong>
  <%= @contest.report_params %>
</p>

<p>
  <strong>Announcement method:</strong>
  <%= @contest.announcement_method %>
</p>


<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
